<% layout("/layouts/boilerplate") %>
    <body>
        <br>
        <!-- <form method="get" action="/listings/new">
        <button>Make a new Listing</button>
    </form> -->
        <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1">
            <%for(li of allListings){ %>
                <br>
                <div class="card col listing-card">
                    <a href="/listings/<%=li._id%>" class="listing-link">
                        <img src="<%=li.image.url%>" class="card-img-top" alt="Listing Image" style="height:20rem;">
                    
                    <div class="card-body">
                        <h5 class="card-title">
                            <%=li.title%>
                        </h5>
                        <p class="card-text">
                            <% if(li.owner) { %>
                                <i>Listed by: <%= li.owner.username %></i><br>
                            <% } %>
                            ₹<%= li.price ? li.price.toLocaleString("en-IN") : '0' %> / night
                        </p>
                        <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                    </div>
                </a>
                </div>
                <% } %>
        </div>